@media only screen and (min-width: 60em) {
    
    h1 {
      font-size: 3em;
      margin: 0 0 10px 0;
    }
    header, nav, main, footer {
      max-width: 1000px;
      margin: 0 auto;
    }
    .navigation{
        position: absolute;
        width: 1000px;
        top: 177px;
        max-width: 100%;
    }
}