@media only screen and (min-width: 60em) {
    
    h1 {
      font-size: 3em;
      margin: 0 0 10px 0;
    }
    header, nav, main, footer {
      max-width: 1500px;
      margin: 0 auto;
    }
    .navigation{
        position: absolute;
        width: 1000px;
        top: 177px;
        max-width: 100%;
    }
    .weather-card {
        position: absolute;
        top: 223px;
        margin: auto;
        background-color: rgba(0,0,0,.75);
        padding: auto;
        text-align: center;
        font-size: small;
    }
    
    .button-container {
        position: absolute;
        top: 223px;
        margin: auto;
        padding: 1em;
        text-align: center;
        font-size: small;
        z-index: 1;
    }
    #cards {        
      grid-template-columns: 1fr 1fr 1fr;        
  }
}
