@media only screen and (min-width: 60em) {
    
    h1 {
      font-size: 3em;
      margin: 0 0 10px 0;
    }
    header, nav, main, footer {
      max-width: 60em;
      min-width: 37.5em;
      margin: 0 auto;
    }
    .navigation {
        width: 1000px;
    }
}