@media only screen and (min-width: 37.5em) {
    nav ul { display: flex; }
    nav ul li { flex: 1 1 100%; }
    
    .navigation{
        display:flex;
    }
  
    .navigation li:first-child{
      display:none
    }
    .navigation li{
        display:block;
        flex: 1 1 100%;
    }
    .weather-card {
        position: absolute;
        top: 223px;
        margin: auto;
        background-color: rgba(0,0,0,.75);
        padding: 1em;
        text-align: center;
        font-size: small;
    }
    
    .button-container {
        position: absolute;
        top: 223px;
        margin: auto;
        padding: 1em;
        text-align: center;
        font-size: small;
        z-index: 1;
    }
}