@media only screen and (min-width: 37.5em) {
    /* nav ul { display: flex; }
    nav ul li { flex: 1 1 100%; }
        
    
    .nav{
        display:flex;
    }
  
    .nav li:first-child{
      display:none
    }
    .nav li{
        display:block;
        flex: 1 1 100%;
    } */
}