@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&display=swap');

h1, h2, h3, h4 {
    font-family: "Anton", sans-serif;
    color: white;
}

p {
    font-family: "Roboto", sans-serif;
    color: white;
}

.top-of-page {
    background-color: #5C5B5D;
    margin: 0;
    padding: 0;
}

.middle-of-page {
    background-color: #88B5FC;
    margin: 0;
    padding: 0;
}