@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300&display=swap');

/*   Basic Font CSS   */
h1, h2, h3 {
    font-family: "Merriweather", sans-serif;
    color: white;
}

h4 {
    color: #88B5FC;
    font-family: "Merriweather", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
    color: white;
}

/*   Basic background CSS   */
body {
    background-color: #191919;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

main {
    background-color: #5C5B5D;
    padding: 1em;
}

.entire-page {
    background-color: #5C5B5D;
}

.top-of-page {
    background-color: #5C5B5D;
}

.middle-of-page {
    background-color: #88B5FC;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom-of-page {
    background-color: #5C5B5D;
}


/*   Header   */
.hero_image {
    background-image: url("images/union_pacific.jpg");
    background-color: #5C5B5D;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.logo {
    max-width: 100%;
    top: 28px;
    margin: auto;
    background-color: rgba(0,0,0,.7);
}

/*   Nav   */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #88B5FC;
  }

li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation{
    margin: auto;
    width: auto;
    top: 177px;
    max-width: 100%;
}

/*   Hamburger   */

.navigation li:first-child {
    display:block;
}

.navigation li{
    display:none;
    flex: 1 1 100%;
}

.responsive li {
    display: block;
}

/*   On hover   */
li a:hover {
    background-color: #C4DAFE;
  }

.current {
    background-color: #191919;
}

/*   Weather drop down   */
.weather-card {
    top: 223px;
    margin: auto;
    background-color: rgba(0,0,0,.75);
    padding: 1em;
    text-align: center;
    font-size: small;
}

.button-container {
    top: 223px;
    margin: auto;
    padding: 1em;
    text-align: center;
    font-size: small;
    z-index: 1;
}
/*     Footer        */
footer {
    background-color: #5C5B5D;
    padding: 1em;
}

.footer-info {
    color: white;
}




/*     Company Highlights     */

.bhcontainer{
    display: flex;
}

img {
    max-width: 100%
}

.business-img {
    flex-basis: 40%;
}