@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&display=swap');

/*   Basic Font CSS   */
h1, h2, h3 {
    font-family: "Anton", sans-serif;
    color: white;
}

h4 {
    color: #88B5FC;
}

p {
    font-family: "Roboto", sans-serif;
    color: white;
}

/*   Basic background CSS   */
body {
    background-color: #191919;
}
.top-of-page {
    background-color: #5C5B5D;
}

.middle-of-page {
    background-color: #88B5FC;
}

.bottom-of-page {
    background-color: #5C5B5D;
}

main{
    max-width: 1000px;
}

/*   Header   */

.hero_image {
    background-image: url("images/union_pacific.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.logo {
    border: 2px solid black;
    padding: 25px;
    background: url(mountain.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}