@media only screen and (min-width: 32em) {
    h1 {
      font-size: 3em;
    }
    #container {
      grid-template-columns: 1fr 1fr;
    }
  
    #principle1 {
      grid-column: 1 / 2;
    }
    #nuprinciple2 {
      grid-column: 2 / 3;
    }
    #numprinciple3 {
      grid-column: 1 / 2;
    }
  }