@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Racing+Sans+One&display=swap');

h1 {
  font-size: 2rem;
  font-family: 'Racing Sans One', sans-serif;
}


h2, h3, h4, h5, h6 {
    color:#000;
    text-align: left;
    font-family: 'Racing Sans One', sans-serif;
  }
  
/* Header and footer */
header, footer {
    background-color: #272727;
    color: white;
    padding: 1em;
    text-align: center;
    border-radius: 1em;
    padding: .5em;
    margin: 1em;
    font-family: 'Crete Round', sans-serif;
}

p {
  font-family: 'Crete Round', serif;
}

#principle_1, #principle_2, #principle_3 {
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  border: 3px solid #272727;
  max-width: 375px;
}