@media only screen and (min-width: 37.5em) {
    nav ul { display: flex; }
	  nav ul li { flex: 1 1 100%; }
    img{ width: 50%;
        margin-left: 3rem;
        margin-right:3rem;
        }

    h1 {
        font-size: 3em;
      }
      #container {
        grid-template-columns: 1fr 1fr;
      }
}