//variables to setup basic size and shape of the card and pips
$card-width: 40vw;
$card-height: $card-width * 1.4;
$font-size-number: $card-width * 0.1;
$icon-size: $card-width / 5;

//variables
$num-columns: 8;
$one-column: 100% / $num_columns;
$loop-start: 1;
$loop-end: $num-columns + 1;

@import "mixins";
