@media only screen and (min-width: 37.5em) {
    nav ul { display: flex; }
    nav ul li { flex: 1 1 100%; }
    
    .navigation{
        display:flex;
    }
  
    .navigation li:first-child{
      display:none
    }
    .navigation li{
        display:block;
        flex: 1 1 100%;
    }
    .weather-card {
        position: absolute;
        top: 19%;
        margin: auto;
        background-color: rgba(0,0,0,.75);
        text-align: center;
        font-size: small;
    }
    
    .button-container {
        position: absolute;
        top: 19%;
        margin: auto;
        padding: 1em;
        text-align: center;
        font-size: small;
        z-index: 1;
    }
    
    .logo {
        position: absolute;
    }
    
    /*     Company Highlights     */

    .bhcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .business-img {
        display: flex;
        width: 100%;
        position: relative;
        border: solid black;
    }

    .bhtitle {
        text-align: center;
        padding: 20px;
    }

    /* Three day Forecast */
.forecast {
    background-color: #191919;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .forecast h3 {
    color: white;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    font-size: 2rem;
    text-align: center;
  }

  .forecast div {
    grid-row: 2 / 3;
  }

  .forecast h4 {
    margin-bottom: 0;
    color: black;
    font-size: 2rem;
    text-align: center;
    border-bottom: solid;
    padding-bottom: 15px;
  }

  .forecast span {
    font-size: 3rem;
    font-weight: bold;
    color: #191919;
  }

  .forecast p {
    margin-top: 0;
    text-align: center;
    font-size: 1.5rem;
    color: #191919;
  }

  .forecast img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  .forecast-card {
      border: solid black;
      background-color:  #fcfcfc62;

  }
  .cards {        
    grid-template-columns: 1fr 1fr;        
}

}