@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

table {
  text-align: center;
  margin: auto;
  box-shadow: 10px 10px 15px #628ca6;
}

table, th, td{
    font-family: Ubuntu, sans-serif;
    border: 1px solid #888;
    border-collapse: collapse;
    padding: .5em 1em;

}

thead tr th{
    background-color: #7fb9c2;
    font-size: 2em;
    font-weight: bold;
    color: black;
}

tr:nth-child(odd) {
  background: #e7ffed;
}

tr:nth-child(even) {
  background: #e7f0ed;
}

tr:nth-child(1) {
  background: #628ca6;
 color: white;
 font-weight: bold;
}

.goal {
  background: #628cab;
  color: white;
}

 tfoot tr td{
  background: #7fb9c2;
   color: black;
 }