// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

//end of Resources

/*Important Dates*/
.dates {
  h3 {
    border: 1px solid $link-blue;
    background-color: $link-blue;
    color: white;
  }

  .date-links a {
    color: $body-font;
  }

  .highlights-link {
    border-bottom: 1px solid $med-gray;
  }
}

//end of Important Dates

/*Newsroom*/
.newsroom {
  article {
    border-top: 1px solid $med-gray;
  }
  article:first-child {
    border-top: none;
  }

  h4 a {
    color: $link-blue;
  }

  .btn {
    background-color: $link-blue;
    color: white;
  }
  .btn:hover {
    background-color: $link-blue;
  }
}

//end of Newsroom

/*University Message*/
.university-message {
  h5 {
    border: 1px solid $med-gray;
    background-color: $light-gray;
  }

  .msg-univ {
    border-left: 1px solid $med-gray;
    border-right: 1px solid $med-gray;
    border-bottom: 1px solid $med-gray;
  }
}

/*Footer*/
footer {
  .footer-graphic::after {
    background-color: $light-gray;
    border-bottom: 1px solid black;
    border-top: 1px solid #c6c7c8;
  }
}
