@import "typography";
@import "icons";

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a {
  text-decoration: none;
  color: #0076b6;
  font-family: "BYUI Open Sans";
}

p {
  font-family: "BYUI Open Sans";
}

//grid
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

//Logo

.icon-byui-logo {
  display: flex;
  height: 75px;
  width: 95px;
  background-color: #000;
  color: white;
  padding: 20px;
  text-decoration: none !important;
}

// banner

.site-nav-background {
  background-color: #056cb6;
}

.site-banner-left {
  font-size: 30px;
}

.site-banner-right {
  font-size: 50px;
  float: right;
  margin-top: -62px;
  padding-right: 30px;
  color: white;
}

// icons

.icon-audience {
  color: white;
}

.icon-search {
  color: white;
}

.icon-menu {
  color: white;
}

.grey-title-box {
  background: #b4b3b5;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  font-family: "BYUI Open Sans";
  font-size: 30px;
  grid-column: 1 / 7;
}

// main image
.main-image {
  grid-column: 2 / 5;
}

// video section

.video1 {
  grid-column: 2;
}

.first-section-videos img {
  border: 2px solid black;
  margin: 10px;
}

// info list section
.info-list {
  font-family: "BYUI Open Sans";
  grid-column: 5 / 7;
  grid-row: 2;
}
