@media only screen and (min-width: 37.5em) {
    nav ul { display: flex; }
    nav ul li { flex: 1 1 100%; }
  
        img{ width: 100%;}
        
    h1 {
        font-size: 3em;
        margin: 0 -10px 10px -40px;
      }
    
    .navigation{
        display:flex;
    }
  
    .navigation li:first-child{
      display:none
    }
    .navigation li{
        display:block;
        flex: 1 1 100%;
    }
  
    .weather-summary {
    background-color: rgba(80, 130, 260, 0.8);
    width: 350px;
    height: 200px;
    top: 18rem;
    left: 1rem;
    padding: 1em;
    text-align: center;
    position: absolute;
    border: solid;
  }
  
      .bottom-of-page {
          display: flex;
      }
  
      .content-info{
          padding-top: 20px;
          flex: 1 1 auto;
          display: block;
      }
      .five-day-forcast, .forcast, .article-image {
    display: initial;
  }
  
  .article-image{
    width: 30%;
    float: right;
    margin: 10px;
    border-style: solid; 
  }
  
  .forcast-day {
      margin-left: 5px;
      flex: 1 1 auto;
      text-align: center;
      background-color: rgba(80, 130, 260, 0.8);
      border-style: solid;
      margin: 10px;
      }
  
      .forcast-day h4 {
          margin-top: 20px;
          
      }
      .forcast {
  
          display: flex;
          text-align: center;
          margin-bottom: 30px;
      }
    
      .map {
        display: flex;
        width: 70%;
        margin-left: 8rem;
        border-style: solid;
      }
  
  } 