@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
/* ----- Colors Used -----*/
/* Blue Color = #6495ED
   Background Color = #FAEBD7
   NAV link Color = normal and visited: #FAEBD7 and no underline , active: #DEB887, hover: white and underlined
   Other page links should behave thus: normal and visited: #6495ED and no underline , active: #DEB887, hover: underlined
   Article title links should behave thus: normal and visited: black and no underline , active: #DEB887, hover: #6495ED and underlined */

header {
  background-color: #6495ed;
}

h1,
h2,
h3,
h4 {
  font-family: "Lora", serif;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

main {
  background-color: #faebd7;
}

/*------- Links ------*/
h1 {
  color: #faebd7;
  text-decoration: none;
}

/* Nav Bar */
nav a:visited,
a:link {
  font-family: Helvetica, Arial, sans-serif;
  color: #faebd7;
  text-decoration: none;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

nav a:active {
  color: #deb887;
  text-decoration: none;
}

/* Article Title Links */
h2 a {
  color: black;
  text-decoration: none;
}

h2 a {
  color: #6495ed;
  text-decoration: underline;
}

h2 a {
  color: #deb887;
  text-decoration: none;
}

/*  Other Links */
p a:link,
a:visited {
  color: #6495ed;
  text-decoration: none;
}

p a:active {
  color: #deb887;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
