@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

/* ----- Colors Used -----*/
/* Blue Color = #6495ED
   Background Color = #FAEBD7
   NAV link Color = normal and visited: #FAEBD7 and no underline , active: #DEB887, hover: white and underlined
   Other page links should behave thus: normal and visited: #6495ED and no underline , active: #DEB887, hover: underlined
   Article title links should behave thus: normal and visited: black and no underline , active: #DEB887, hover: #6495ED and underlined */

$main-color: #faebd7;
$blue-color: #6495ed;
$tan-color: #deb887;
$grey-color: #cccccc;

header {
  background-color: $blue-color;
  text-align: right;
  padding: 2em;
  margin: -16px;
  @media screen and (max-width: 900px) {
    & header {
      top: 0;
      left: 0;
      width: 250px;
      position: absolute;
      padding-right: 1em;
      height: 100%;
    }
  }
}
h1 {
  background-color: $blue-color;
  font-family: "Lora", serif;
  padding: 10px;
}

body {
  background-color: $main-color;
  @media screen and (min-width: 900px) {
    & body {
      border-left: 250px solid $grey-color;
    }
  }
}

h2,
h3,
h4 {
  font-family: "Lora", serif;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

main {
  background-color: $main-color;
  width: auto;
  margin: 1rem;
  padding: 10px;
  background-color: $main-color;
}

/*------- Links ------*/
h1 a {
  color: $main-color;
  text-decoration: none;
}

/* Nav Bar */
li {
  margin: 15px;
}

nav a:visited,
a:link {
  font-family: Helvetica, Arial, sans-serif;
  color: $main-color;
  text-decoration: none;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

nav a:active {
  color: $tan-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Article Title Links */
.post-content h2 a:visited {
  color: black;
  text-decoration: none;
}

.post-content h2 a:hover {
  color: $blue-color;
  text-decoration: underline;
}

.post-content h2 a:active {
  color: $tan-color;
  text-decoration: none;
}

/*  Other Links */
.post-content p a {
  color: $blue-color;
  text-decoration: none;
}

.post-content p a:hover {
  text-decoration: underline;
}

.post-content p a:active {
  color: $tan-color;
}

/* Cards "Articles"*/
article {
  background-color: white;
  box-shadow: 3px 3px 5px 0px rgba(200, 200, 200);
  width: auto;
  margin: 1.5em;
  padding: 1em;
}
