body {
    background-color: #000;
    font-size: 16px;}
header,
footer {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    }
header, nav, main, footer {
	max-width: 767px;
	margin: 0 auto;}
h1 {
	font-size: 1.5rem; 
}

h2 {
	color: #DBE4EE;
}

nav {
	background-color: #102E4A;
	text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #DBE4EE;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
    font-family: 'Short Stack', cursive;
    font-weight: bolder;}
nav a:hover {
	background-color: #F17300;
	color: #102E4A;
}
.active {
	color: #F17300;}
main{
    background-color:#DBE4EE;
    padding-bottom:2rem;
}
img{ background-color: white;
    width:80%;
    border-style:double;
    padding:1rem;}
p{ text-align: center;
    font-family: 'Short Stack', cursive;}
h1,h2, h3, h4, h5, h6 {
    text-indent: 1rem;
    font-family: 'Esteban', serif;
    color: #102E4A;
}
div img{width:80%;}
.typoHeading{text-align:center;}
.typoNav{background-color: #102E4A;
	text-align: center;
	box-shadow: 0 2px 15px gray;
    color: #DBE4EE;
    padding: 0.75rem;
    font-weight: bolder;
}
