//variables to setup basic size and shape of the card and pips
$card-width: 40vw;
$card-height: $card-width * 1.4;
$font-size-number: $card-width * 0.1;
$icon-size: $card-width / 5;

//variables
$num-columns: 8;
$one-column: 100% / $num_columns;
$loop-start: 1;
$loop-end: $num-columns + 1;

@import "../partials/mixins.scss";
@import "../partials/classes";
@import "../partials/loops";
// @mixin col($span-num) {
// flex: 0 0 12.5% * $span-num;
// }

// @mixin offset($offset-num) {
// margin-left: 12.5% * $offset-num;
// }

// .col-1 {
// @include col(1);
// }

//   .col-2 {
// @include col(2);
//   }

//   .col-8 {
// @include col(8);
//   }

// .offset-1 {
//   @include offset(1);
// }
// .offset-2 {
//   @include offset(2);
// }
